<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArbitaryNumeralSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ArbitaryNumeralSystem.Properties.Settings>
            <setting name="help" serializeAs="String">
                <value>本程式會列出進位樣式的所有數字(也可說是排列組合)，並複製到剪貼簿，
舉例：普通二進位、三位數，樣式即為222，
程式就會印出
000
001
010
..略
110
111
等8個數字(組合)

若是輸入43，
則會印出
00
01
02
10
11
12
...略
30
31
32
-------------------------
</value>
            </setting>
        </ArbitaryNumeralSystem.Properties.Settings>
    </userSettings>
</configuration>